//VARIABLES
$white: #fcfcfc;
$black: #292929;
$blue: #513dff;
$grey: #d6d6d6;

//MIXINS
@mixin live-btn {
	width: auto;
	height: auto;
	padding: 10px 20px;
	background: $blue;
	color: $white;
	font-size: 18px;
	font-weight: 700;
	transition: .3s all ease;
	display: inline-block;
	margin: 20px;
	&:hover {
		background: $white;
		color: $blue;
		box-shadow: 0 0 30px rgba($color: $blue, $alpha: .2);
	}
}

.App {
	margin-bottom: 50px;
	padding: 50px;
}

.columns {
	flex-wrap: wrap;
}

header.columns {
	justify-content: space-between;
	@media(max-width: 992px) {
		padding: 20px 0;
	}
	h1 {
		font-size: 36px;
		font-weight: 700;
		color: $blue;
		@media(max-width: 992px) {
			font-size: 18px;
		}
	}
	.github {
		text-align: right;
		img{
			width: 50px;
			height: auto;
		}
	}

}

.article {
	transition: .3s all ease;
	border-radius: 10px;
	a {
		color: $black;
	}
	&:hover {
		box-shadow: 0 0 40px rgba($color: #000000, $alpha: .1);
	}
	.image-wrapper {
		height: 200px;
		width: auto;
		overflow: hidden;
		margin-bottom: 20px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		@media(max-width: 992px) {
			height: 200px;
		}
	}
	.misc {
		padding: 30px;
		h2 {
			font-size: 24px;
			color: $black;
			font-weight: 700;
		}
		.provider {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			color: $black;
		}
		.excerpt{
			font-size: 16px;
			color: $black;
		}
	}
}

.live-btn {
	@include live-btn
}

form {
	margin-bottom: 50px;
	select {
		width: 100%;
		height: 50px;
		font-size: 18px;
		padding:0 20px;
		color: #292929;
		border: 1px solid $grey;
		border-radius: 10px;
		color: $black;
	}
	input {
		padding: 16px 40px;
		background: $blue;
		color: $white;
		border: none;
		font-weight: 700;
		width: 100%;
		cursor: pointer;
		transition: .3s all ease;
		border-radius: 10px;
		&:hover {
			box-shadow: 0 0 40px rgba($color: #000000, $alpha: .1);
			background: $white;
			color: $blue;
		}
	}
}

footer {
	text-align: center;
	margin: 50px 0;
}


